@import url(reset.css);

a {
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

/******************************************************************/
/******************** Header *********************************/
/******************************************************************/


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
}

header a{
    height: 100%;
    width: 100%;
}

.headerNavLink{
    padding: 2rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    color: black;
}

.headerNavLink:hover{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

header img{
    height: 20px;
    margin: 20px;
}

/******************************************************************/
/******************** Recherche *********************************/
/******************************************************************/

#recherche h1{
    margin-bottom: 10px;
    font-weight: bold;
}

.sous-titre{
    margin: 0;
    font-weight: bold;
}

#filtres h2{
    margin-top: 35px;
    font-weight: bold;
}

#filtres {
    display: flex;
    margin-top: 30px;
    width: 100%;
    height: 100%;
    max-width: 90%;
}

#filtre {
    display: flex;
    margin-top: 30px;
    border-radius: 30px;
    border-color: black;
    margin-left: 10%;
    width: 90%;
    height: 100%;
}

.filtre{
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    text-align: center;
    font-weight: normal  /* bold */;
    font-size: x-small;
    margin-right: 30px;
    height: 100%;
    align-items: center;
    max-width: 80%;
 }

 .filtre:hover{
     background-color: #DEEBFF;
 }

header a{
    border-top: 3px solid #0065FC;
    font-weight: 500;
    text-align: center;
    margin: 10px;
}

#recherche { 
    margin: 40px;
}  

#recherche i{ 
    margin: 10px;
    /*background-color: #d9d9d9;*/
    border-radius: 1 0rem 0rem 1;
}  


.formulaire{
    margin-top: 25px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 40%;
}

.formulaire input{
    font-weight: bold;
    color: black;
    height: 33px;
}

.filtre i{
    margin: 10px;
    max-height: 80%;
    max-width: 70%;
    color: #0065FC;
}

.butbleu{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    height: 40px;
}

.infos {
    display: flex;
    width: 100%;
    margin:20px
}

.infos p{
    font-weight: bold;
}

.bouton_infos{
    margin-right: 20px;
    max-width: 20%;
    align-items: center;
    margin-top: 7px;
}


.fa-location-dot{
    margin: 0;
    background-color: #D9D9D9;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 40px;
    width: 40px;

}


.fa-solid .fa-circle-info{
    width: 100%;
}

/******************************************************************/
/******************** Hebergement *********************************/
/******************************************************************/


#hebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px;
    width: 100%;
}

#hebergements h2{
    height: 5%;
    margin-left: 4%;
    font-weight: bold;
}

.hebergement {
    display: flex;
    flex-wrap: wrap;
    width: 64%;
    background-color:#F2F2F2;
    border-radius: 30px;
    height: 600px;
}

.cards-marseille {
     height: 20px;
}

.cards {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    background-color: rgb(242, 242, 242);
    border-radius: 15px;
    width: 100%;
    height: 90%;
}

.card {
    display: flex;
    flex-wrap: wrap;
   width: 30%;
   height: 200px;
}

.card a{
   width: 100%;
}

.card figure{
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    border-radius:30px ;
    margin: 0;
    max-width: 94%;
    margin-left: 11px;

}

.card img{
    object-fit: cover;
    width: 95%;
    height: 60%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin: 5px;
}

.card figcaption{
    width: 96%;
    margin-left: 4%;
    height: 40%;
}

figcaption h3, figcaption p {
    margin: 0;
    font-weight: bold;
}

.populaire {
    width: 31%;
    background-color: #F2F2F2;
    border-radius: 30px;
    margin-right: 2%;
 }
 
 .populaire div{
     width: 100%;
 }
 
 .populaire a{
     width: 100%;
     margin: 10px;
     display: flex;
 }

 .card-populaire {
     height: 150px;
 }

 .column {
     flex-direction: column;
 }
 
 .populaire figcaption{
     width: 58%;
     height: 98%;
     margin-left: 2%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }

 .populaire img{
    height: 95%;
    width: 40%;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: revert;
 }

.afficher{
    width: 98%;
    height: 5%;
    max-width: 100%;
    /* font-size: x-large; */
    display: block;
    font-size: larger;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-left: 20px;
}

.afficher p{
    font-weight: bold;
}

.fa-star {
    color: #1f5cd6;
}

.color-grey{
    color: #F2F2F2;
}

/******************************************************************/
/******************** Activités margin zero sur le figure ajuster les widht des figures et figcaption, refaire les borders des images du bas, ***********************************/
/******************************************************************/


#activités {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#activités h2 {
    margin-left: 4%;
}

.acti {
     display: flex;
     justify-content: space-around;
     width: 100%;
}

.acti a {
    width: 20%;
}

.acti figure {
    width: 100%;
    height: 100%;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    border-radius: 30px;
}

.acti img{
   object-fit: cover;
   width: 100%;
   height: 85%;
   box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
   border-top-right-radius: 30px;
   border-top-left-radius: 30px;
}

.acti figcaption {
    width: 92%;
    height: 15%;
    font-size: 18px;
    text-align:start;
    margin-left: 8%;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-weight: bold;
}


/******************************************************************/
/******************** Footer ***********************************/
/******************************************************************/


footer {
    display: flex;
    background-color: rgb(242, 242, 242);
    margin-top: 7%;
    margin-left: 3%;
}

footer div{
    margin-left: 2%;
    margin-right: 15%;
}

footer h3{
    font-weight: bold;
}

footer ul{
    margin: 0;
    width: 100%;
    text-align: start;
}

footer li{
    font-weight: bold;
}

/******************** Media Queries Tablette 1023px ***********************************/

@media screen and (max-width:1023px) and (min-width:768px) {

    #hebergements {
        margin: 0;
    }

    .card-populaire{
        display: flex;
        flex-direction: row;
    }

    .hebergement{
        width: 90%;
        margin-left: 40px;
    }

    .populaire {
        width: 90%;
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 40px;
    }

    .cards-populaires{
        flex-wrap: nowrap;
        margin-top: 40px;
        margin-bottom: -30px;
    }

    #footer {
        margin-right:30px;
    }

    #footer div{
         text-align: center;
    }
}

/******************** Media Queries Telephone 767px ***********************************/

@media screen and (max-width:767px) {

    
    header {
        flex-wrap: wrap;
        background-color: aqua;
    }

    header a{
        border-bottom: 3px solid #0065FC;
    }

    header img {
        margin-left: 40%;
        margin-right: 40%;
    }

    #hebergements{
         flex-direction: column-reverse;
         background-color: aqua;
    }

    .cards-populaires{
        flex-wrap: nowrap;
    }


}